/* #region common */
/* font-family: "Inter", sans-serif; */
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    color: #fbfbfb;
    background-color: #0e1823;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* #endregion common */

.first-section-image {
    background-image: url(../images/yacht-rentals.jpg);
    background-size: cover;
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

/* #region header */
.header-page {
    background: #fbfbfb;
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    width: 1240px;
    margin: 32px auto 0;
    padding: 4px 30px;
}

.header-page .container {
    display: flex;
    align-items: center;
}

.header-page-nav {
    display: flex;
    align-items: center;
    gap: 375px;
}

.header-page-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
}

.header-page-nav-list {
    display: flex;
    gap: 4px;
}

.header-nav-list-link {
    background-color: rgba(27, 65, 75, 0.5);
    border-radius: 8px;
    padding: 15px 25px 15px 24px;
    display: block;
    font-weight: 400;
    font-size: 9px;
    /* line-height: 12px; */
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-list-link:hover,
.header-nav-list-link:focus {
    background-color: #1b414b;
}

.header-page-social-list {
    display: flex;
    gap: 8px;
    margin-left: auto;
}

.social-list-item {
    width: 24px;
    height: 24px;
}

.header-social-link {
    background-color: #1b414b;
    color: #fbfbfb;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social-link:hover,
.header-social-link:focus {
    background-color: #062730;
}

/* #endregion header */

/* #region first-section */
.first-section {
    padding-top: 155px;
    padding-bottom: 180px;
}

.main-text {
    font-weight: 500;
    font-size: 80px;
    /* line-height: 80px; */
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    margin-bottom: 24px;
}

.first-section-paragraph {
    font-weight: 300;
    font-size: 16px;
    /* line-height: 22px; */
    line-height: 1.4;
    text-align: center;
    color: rgba(251, 251, 251, 0.7);
    padding: 0 202px;
    margin-bottom: 48px;
}

.main-button {
    background: #1b414b;
    border-radius: 15px;
    padding-block: 16px;
    padding-inline: 40px;
    width: 179px;
    height: 52px;
    font-weight: 500;
    font-size: 18px;
    /* line-height: 20px; */
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    display: block;
    margin: 0 auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
    background-color: #fbfbfb;
    color: #1b414b;
}

/* #endregion first-section */

/* #region second-section */
.second-section {
    position: relative;

    margin: 0 50px;
    width: 1340px;
}

.second-section-container {
    display: flex;
    gap: 299px;
    height: 675px;
    padding: 50px 50px 0 50px;

    border-radius: 24px;
    background: #fbfbfb;
}

.second-section-block-container {
    width: 537px;
    height: 144px;
}

.text {
    font-weight: 500;
    font-size: 48px;
    /* line-height: 48px; */
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
}

.second-section-text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 404px;
    height: 187px;
}

.text-by-text {
    font-weight: 400;
    font-size: 23px;
    /* line-height: 23px; */
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
}

.second-section-paragraph {
    font-weight: 400;
    font-size: 13px;
    /* line-height: 15px; */
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
    margin-bottom: 100px;
}

.img-second-section {
    position: absolute;
    top: 337px;

    border-radius: 0 24px 0 0;
}

/* #endregion second-section */

/* #region third-section */
.third-section-container {
    width: 1240px;
    margin: 282px 100px 0;
}

.third-section-text {
    text-align: center;
    color: #fbfbfb;
    width: 714px;
    margin: 0 auto 75px;
}

.third-section-list {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-bottom: 50px;
}

.third-section-item {
    border-radius: 24px;
    width: 100%;
    height: 508px;

    background-color: #fbfbfb;
}

.img-third-section {
    margin: 16px auto 0;
}

.left-text-categories {
    display: inline-block;
    text-align: left;
    padding: 32px 0 16px 32px;

    font-weight: 500;
    font-size: 16px;

    /* line-height: 19px; */
    line-height: 1.2;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #1b414b;
}

.right-text-categories {
    display: inline-block;
    text-align: right;
    padding: 32px 32px 16px 0;

    font-weight: 400;
    font-size: 13px;

    /* line-height: 15px; */
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;

    opacity: 0.4;
}

.dot-dash-line {
    stroke-width: 1px;
    stroke: rgba(4, 3, 6, 0.1);
}

.inside-third-section-list {
    padding: 16px 31px 32px 32px;
}

.left-text-parameters {
    display: inline-block;
    text-align: left;
    gap: 6px;

    font-weight: 400;
    font-size: 14px;

    /* line-height: 17px; */
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;

    opacity: 0.4;
}

.right-text-parameters {
    display: inline-block;
    text-align: right;
    gap: 6px;

    font-weight: 400;
    font-size: 14px;

    /* line-height: 17px; */
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #040306;
}

.third-section-button {
    background-color: transparent;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    display: block;
    min-width: 179px;
    margin: 0 auto;
    height: 52px;
    border: 1px solid rgba(251, 251, 251, 0.35);

    border-radius: 15px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.third-section-button:hover,
.third-section-button:focus {
    background-color: #fbfbfb;
    color: #1b414b;
}

/* #endregion third-section */

/* #region fourth-section */
.fourth-section {
    padding: 150px 50px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.fourth-section-container {
    display: flex;
    gap: 32px;
}

.order-list-container {
    border-radius: 24px;
    width: 768px;
    height: 424px;
    padding: 90px 50px;
    background-color: #1b414b;
}

.order-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 44px;
    column-gap: 32px;
}

.order-list-item {
    width: calc((100% - 44px) / 2);
}

.order-item-number {
    font-weight: 500;
    font-size: 32px;

    /* line-height: 32px; */
    line-height: 1;
    letter-spacing: -0.05em;
    color: #fbfbfb;
    padding-bottom: 18px;
}

.img-order-list {
    border-radius: 18px;
    width: 318px;
    height: 2px;
    color: rgba(251, 251, 251, 0.1);

    opacity: 0.8;
}

.order-item-text {
    font-weight: 400;
    font-size: 13px;

    /* line-height: 15px; */
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    padding-top: 18px;

    opacity: 0.8;
}

.order-item-text1 {
    width: 238px;
}

.order-item-text3 {
    width: 292px;
}

.order-item-text4 {
    width: 290px;
}

.img-fourth-section {
    border-radius: 24px;
}

/* #endregion fourth-section */

/* #region fifth-section */
.fifth-section {
    padding: 150px 100px 150px 50px;
}

.fifth-section-container {
    display: flex;
    gap: 50px;
}

.img-fifth-section {
    border-radius: 24px;
}

.fifth-section-text {
    color: #fbfbfb;
    text-align: left;
    padding-bottom: 50px;
}

.fifth-section-label {
    display: block;
    margin-bottom: 18px;
}

.fifth-section-input {
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    padding: 18px;
    width: 100%;
    height: 54px;
    background-color: transparent;

    font-weight: 400;
    font-size: 14px;

    /* line-height: 18px; */
    line-height: 1.29;
    color: rgba(251, 251, 251, 0.4);
}

.fifth-section-textarea {
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    padding: 18px;
    width: 100%;
    height: 116px;
    background-color: transparent;
    display: block;
    margin-bottom: 50px;
    resize: none;
    overflow: hidden;

    font-weight: 400;
    font-size: 14px;

    /* line-height: 18px; */
    line-height: 1.29;
    color: rgba(251, 251, 251, 0.4);
}

.fifth-section-input:hover,
.fifth-section-input:focus,
.fifth-section-textarea:hover,
.fifth-section-textarea:focus {
    border-color: #fbfbfb;
}

.fifth-section-input:hover::placeholder,
.fifth-section-input:focus::placeholder,
.fifth-section-textarea:hover::placeholder,
.fifth-section-textarea:focus::placeholder {
    color: #fbfbfb;
}

.fifth-section-form-btn {
    border-radius: 15px;
    padding-block: 18px;
    padding-inline: 75px;
    width: 194px;
    height: 56px;

    background: #1b414b;

    font-weight: 500;
    font-size: 18px;
    /* line-height: 20px; */
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #fbfbfb;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fifth-section-form-btn:hover,
.fifth-section-form-btn:focus {
    background-color: #fbfbfb;
    color: #1b414b;
}

/* #endregion fifth-section */

/* #region sixth-section */
.sixth-section {
    padding: 0 100px 150px;
}

.sixth-section-text {
    color: #fbfbfb;
    text-align: center;
    width: 854px;
    padding-bottom: 25px;
    margin: 0 auto;
}

.paragraph {
    font-weight: 400;
    font-size: 14px;

    /* line-height: 18px; */
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;

    opacity: 0.4;

    width: 571px;
    padding-bottom: 75px;
    margin: 0 auto;
}

.sixth-section-list {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.sixth-section-item {
    border-radius: 24px;
    width: 392px;
    height: 282px;
    padding-block: 32px;
    padding-inline: 36px;

    background-color: #fbfbfb;
}

.img-sixth-section {
    margin: 0 auto;
    padding-bottom: 24px;
}

.sixth-section-text-by-text {
    font-weight: 500;
    font-size: 18px;

    /* line-height: 20px; */
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #040306;

    padding-bottom: 8px;
}

.sixth-section-paragraph {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 22px; */
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(4, 3, 6, 0.4);
}

/* #endregion sixth-section */

/* #region footer */
.footer-page {
    border-radius: 24px 24px 0 0;
    background: #1b414b;
    margin: 0 25px;
    padding: 50px 75px 20px;
}

.footer-page-nav {
    display: flex;
    align-items: center;
    gap: 409px;
}

.footer-page-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #fbfbfb;
}

.footer-page-nav-list {
    display: flex;
    gap: 4px;
}

.footer-nav-list-link {
    background-color: rgba(251, 251, 251, 0.3);
    border-radius: 8px;
    padding: 15px 25px 15px 24px;
    display: block;
    font-weight: 400;
    font-size: 9px;
    /* line-height: 12px; */
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav-list-link:hover,
.footer-nav-list-link:focus {
    background-color: #fbfbfb;
    color: #1b414b;
}

.footer-page-social-list {
    display: flex;
    gap: 8px;
    margin-left: auto;
}

.footer-social-link {
    background-color: #fbfbfb;
    color: #1b414b;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: rgba(251, 251, 251, 0.8);
}

.footer-paragraph {
    font-weight: 400;
    font-size: 32px;

    /* line-height: 32px; */
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;

    padding: 96px 0 99px;
    width: 699px;
    margin: 0 auto;
}

.footer-ending-container {
    display: flex;
    justify-content: center;
    gap: 32px;

}

.footer-ending-paragraph {
    font-weight: 400;
    font-size: 14px;

    /* line-height: 17px; */
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(251, 251, 251, 0.4);
}

/* #endregion footer */