/* font-family: "Inter", sans-serif; */
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    color: #fbfbfb;
    background-color: #0e1823;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    height: auto;
}

.header-page {}

.container {}

.header-page-nav {}

.header-page-logo {}

.header-page-nav-list {}

.nav-list-item {}

.nav-list-link {}

.header-page-social-list {}

.social-list-item {}

.social-link {}