/* #region common */
/* font-family: "Inter", sans-serif; */
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    color: #fbfbfb;
    background-color: #0e1823;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    height: auto;
}

/* #endregion common */

/* #region header */
.header-page {
    background: #fbfbfb;
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    width: 1240px;
    margin: 0 auto;
    padding: 4px 30px;
}

.header-page .container {
    display: flex;
    align-items: center;
}

.header-page-nav {
    display: flex;
    align-items: center;
    gap: 375px;
}

.header-page-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
}

.header-page-nav-list {
    display: flex;
    gap: 4px;
}

.header-nav-list-link {
    background: rgba(27, 65, 75, 0.5);
    border-radius: 8px;
    padding: 15px 25px 15px 24px;
    display: block;
    font-weight: 400;
    font-size: 9px;
    /* line-height: 12px; */
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
}

.header-nav-list-link:hover,
.header-nav-list-link:focus {
    background: #1b414b;
}

.header-page-social-list {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.social-list-item {
    width: 24px;
    height: 24px;
}

.header-social-link {
    background-color: #1b414b;
    color: #fbfbfb;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-social-link:hover,
.header-social-link:focus {
    background: rgba(27, 65, 75, 0.5);
}

/* #endregion header */

/* #region first-section */

/* #endregion first-section */

/* #region second-section */

/* #endregion second-section */

/* #region third-section */

/* #endregion third-section */

/* #region fourth-section */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #endregion fourth-section */

/* #region fifth-section */

/* #endregion fifth-section */

/* #region sixth-section */

/* #endregion sixth-section */

/* #region footer */

/* #endregion footer */