.hidden {
    display: none;
}

/* #region common */
/* font-family: "Inter", sans-serif; */
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    color: #fbfbfb;
    background-color: #0e1823;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* #endregion common */

/* #region main-image */
.main-image {
    background-image: url(../images/yacht-rentals.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* #endregion main-image */

/* #region header */
.header-page {
    background: #fbfbfb;
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    width: 335px;
    height: 42px;
    margin: 20px auto 0;
    padding: 7px 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-page-logo {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #1b414b;
}

.header-page-nav-list,
.header-page-social-list {
    display: none;
}

.burger-button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    stroke-width: 2.50px;
    stroke: #1b414b;
}

@media screen and (min-width: 768px) {
    .header-page {
        display: flex;
        align-items: center;
        width: 704px;
        height: 48px;
        margin: 32px auto 0;
        padding: 4px 28px;
    }

    .burger-button {
        display: none;
    }

    .header-page-logo {
        font-size: 20px;
    }

    .header-page-nav {
        display: flex;
        align-items: center;
        gap: 113px;
    }

    .header-page-nav-list {
        display: flex;
        gap: 4px;
    }

    .header-nav-list-link {
        background-color: rgba(27, 65, 75, 0.5);
        border-radius: 8px;
        padding: 15px 25px 15px 24px;
        display: block;
        font-weight: 400;
        font-size: 9px;
        /* line-height: 12px; */
        line-height: 1.3;
        text-transform: uppercase;
        text-align: center;
        color: #fbfbfb;
    }

    .nav-list-link-about {
        background-color: #1b414b;
    }

    .header-page-social-list {
        display: flex;
        gap: 8px;
        margin-left: auto;
    }

    .social-list-item {
        width: 24px;
        height: 24px;
    }

    .header-social-link {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: #1b414b;
        color: #fbfbfb;
    }
}

@media screen and (min-width: 1280px) {
    .header-page {
        width: 1080px;
        padding: 4px 30px;
    }

    .header-page-nav {
        gap: 296px;
    }

    .header-nav-list-link {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-list-link-about {
        background-color: rgba(27, 65, 75, 0.5);
    }

    .header-nav-list-link:hover,
    .header-nav-list-link:focus {
        background-color: #1b414b;
    }

    .header-social-link {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-social-link:hover,
    .header-social-link:focus {
        fill: #062730;
        color: #fbfbfb;
    }
}

@media screen and (min-width: 1440px) {
    .header-page {
        width: 1240px;
    }

    .header-page-nav {
        gap: 375px;
    }
}

/* #endregion header */

/* #region mobile-menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0e1823;
    padding: 16px 20px 40px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fbfbfb;
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    width: 335px;
    height: 42px;
    margin: 0 auto;
    padding: 7px 20px;
}

.mobile-menu-logo {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #1b414b;
}

.mobile-menu-close-button {
    width: 28px;
    height: 28px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfb;
    padding: 0;
}

.mobile-close-button-svg {
    fill: #055545;
}

.mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    padding-top: 201px;
    padding-bottom: 361px;
}

.mobile-menu-nav-list-item {
    justify-content: center;
}

.mobile-menu-nav-list-link {
    background-color: rgba(27, 65, 75, 0.5);
    border-radius: 8px;
    padding: 15px 25px 15px 24px;
    display: block;
    width: 91px;
    height: 40px;
    font-weight: 400;
    font-size: 9px;
    /* line-height: 12px; */
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    margin: 0 auto;
}

.mobile-menu-nav-list-link-about {
    background-color: #1b414b;
}

.mobile-menu-social-list {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.mobile-menu-list-item {
    width: 24px;
    height: 24px;
}

.mobile-menu-social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fbfbfb;
    color: #1b414b;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* #endregion mobile-menu */